{% load allauth socialaccount %}
{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
        {% for provider in socialaccount_providers %}
            {% if provider.id == "openid" %}
                {% for brand in provider.get_brands %}
                    {% provider_login_url provider openid=brand.openid_url process=process as href %}
                    {% element provider name=brand.name provider_id=provider.id href=href %}
                    {% endelement %}
                {% endfor %}
            {% endif %}

             {% if provider.name == "Google" %}
                <!--google에 해당하는 링크를 받아온다.-->
                {% provider_login_url provider process=process scope=scope auth_params=auth_params as href %}
                <a class="button button--social-login button--google" style="width: 100%;" href="{{ href }}">
                    <i class="icon fa fa-google"></i>Login With Google
                </a>
            {% endif %}

        {% endfor %}
{% endif %}
