<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>{% block head_title %}Blog{% endblock %}</title>

    <!--    <a href="https://kr.freepik.com/search">Freepik 제작 아이콘</a>-->
    <link rel="icon" type="image/x-icon" href="{% static 'blog/asserts/favicon.png' %}"/>

    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
    <!--    <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>-->

    <!--마크다운 라이브러리-->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          rel="stylesheet" type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
</head>

<!--<body background="blog/static/blog/images/backgd.jpg">-->
<body style="background-color: #dcdcdc;">
{% include 'blog/navbar.html' %}

<!-- login 눌렀을 때 생기는 Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="logInModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel"><i class="fas fa-sign-in-alt"></i>&nbsp Log In</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-outline-dark btn-block btn-sm "><i
                                class="fab fa-google"></i>&nbsp&nbsp Log in with Google
                        </button>
                        <button type="button" class="btn btn-outline-dark btn-block btn-sm "><i
                                class="far fa-envelope"></i>&nbsp&nbsp Log in with E-mail
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-outline-dark btn-block btn-sm"><i
                                class="far fa-envelope"></i>&nbsp&nbsp Sign Up with E-mail
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- 페이지 Header-->
<header class="masthead" style="background-image: url('{% static '/blog/asserts/images/home-bg.jpg' %}');">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-8">
                <div class="site-heading text-center">
                    <h1 style="font-size:40px;">레시피를 자랑하세요</h1>

                    <!-- 메뉴 리스트 드롭다운 -->
                    <div class="btn-group mt-3 w-75">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            메뉴 찾기
                        </button>
                        <div class="dropdown-menu w-100" style="max-height: 200px; overflow-y: auto;">
                            {% for tag in tags %}
                            <a class="dropdown-item" href="{{ tag.get_absolute_url }}">{{ tag }}</a> <!--드롭다운 페이지가 내려가며 태그 목록 보임-->
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>

<!--게시글 리스트-->
<div class="container w-50">
    {% block main_area %} {% endblock %}
</div>

{% include 'blog/footer.html' %}

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script>
        function searchPost(){
            let searchValue = document.getElementById('search-input').value.trim();
            if (searchValue.length > 1){
                location.href="/blog/search/" + searchValue + "/";
            }
            else{
                alert("검색어가 너무 짧습니다.");
            }
        };

        document.getElementById('search-input').addEventListener('keyup', function(event)
        {
            if(event.key == 'Enter'){
                searchPost();
            }
        });

        // 검색 창 클릭 시 드롭다운 토글
        function toggleDropdown() {
            var dropdown = document.getElementById('tagDropdown');
            if (dropdown.style.display === 'none') {
                dropdown.style.display = 'block';
            } else {
                dropdown.style.display = 'none';
            }
        }
</script>
</body>
</html>